In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read training data
df = pd.read_csv('../training/training_data.csv')

# Here we visualize the data

In [3]:
df.head()

   id                                           sentence difficulty
0   0  Les coûts kilométriques réels peuvent diverger...         C1
1   1  Le bleu, c'est ma couleur préférée mais je n'a...         A1
2   2  Le test de niveau en français est sur le site ...         A1
3   3           Est-ce que ton mari est aussi de Boston?         A1
4   4  Dans les écoles de commerce, dans les couloirs...         B1

In [4]:
df.tail()

        id                                           sentence difficulty
4795  4795  C'est pourquoi, il décida de remplacer les hab...         B2
4796  4796  Il avait une de ces pâleurs splendides qui don...         C1
4797  4797  Et le premier samedi de chaque mois, venez ren...         A2
4798  4798  Les coûts liés à la journalisation n'étant pas...         C2
4799  4799  Sur le sable, la mer haletait de toute la resp...         C2

In [5]:
df.info

<bound method DataFrame.info of         id                                           sentence difficulty
0        0  Les coûts kilométriques réels peuvent diverger...         C1
1        1  Le bleu, c'est ma couleur préférée mais je n'a...         A1
2        2  Le test de niveau en français est sur le site ...         A1
3        3           Est-ce que ton mari est aussi de Boston?         A1
4        4  Dans les écoles de commerce, dans les couloirs...         B1
...    ...                                                ...        ...
4795  4795  C'est pourquoi, il décida de remplacer les hab...         B2
4796  4796  Il avait une de ces pâleurs splendides qui don...         C1
4797  4797  Et le premier samedi de chaque mois, venez ren...         A2
4798  4798  Les coûts liés à la journalisation n'étant pas...         C2
4799  4799  Sur le sable, la mer haletait de toute la resp...         C2

[4800 rows x 3 columns]>

# Here we compute the base rate, thus the accuracy obtained using a naive classifier that predicts that all observations are from the largest class

In [17]:
# Calculate the base rate
base_rate = round((df['difficulty'].value_counts() / len(df)) * 100, 2)
print("The base rates for each difficulty level are:")
print(base_rate.astype(str) + '%')

The base rates for each difficulty level are:
difficulty
A1    16.94%
C2    16.81%
C1    16.62%
B1    16.56%
A2    16.56%
B2     16.5%
Name: count, dtype: object